@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.cold {
  background-image: url('https://images.unsplash.com/photo-1485802637741-ca8dcf344e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2400&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.4s ease-out;
}

.warm {
  background-image: url('https://images.unsplash.com/photo-1447601932606-2b63e2e64331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2400&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.4s ease-out;
}

.main {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}

.search-box {
  margin: 0 0 75px;
  width: 100%;
  padding: 5px;
}

.search-box .search-bar {
  margin: 0 auto;
  display: block;
  min-width: 90%;
  padding: 15px;
  outline: none;
  appearance: none;
  background: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #313131;
  font-size: 18px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.location-box .location {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
  margin-top: 20px;
}

.weather-box {
  text-align: center;
}

.weather-box .temperature {
  color: #fff;
  font-size: 105px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  margin: 30px auto 10px;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
}
